/* CCS GENERAL */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgreen;
}

#body-main {
    text-align: center;
    line-height: 4;
}

.enlaces-reuse {
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    color: whitesmoke;
    padding: 10px;
}

.enlaces-reuse:hover, #indssn-btn_entrar:hover{
    border: 3px solid black;
    color: purple;
}

/* CCS PARA LA VENTANA DE INICIO DE SESION */

#body-indssn {
    background-color: #00B5B0;
}

h2 {
    margin: 0;
    padding-top: 50px;
    color: #000;
    font-size: 50px;
    letter-spacing: 5px;
}

.indssn-top {
    background-color: #84E9CB;
    text-align: center;
}

#indssn-img1 {
    width: 300px;
    height: 300px;
}

.indssn-buttom {
    background-color: #00B5B0;
    text-align: center;
    padding-top: 20px;
}

.indssn-form {
    padding-bottom: 20px;
}

.indssn-labels {
    letter-spacing: 2px;
    line-height: 3;
}

.indssn-inputs {
    width: 25%;
    border-radius: 7px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.indssn-inputs:hover, #indssn-btn_registrarme:hover {
    border: 3px solid green;
}

select.indssn-inputs {
    cursor: pointer;
}   

#dir-olvide_mi_contraseña {
    color: gray;
    font-size: 40px;
    margin: 0;
}

#indssn-btn_registrarme {
    border-radius: 5px;
    padding: 3px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: grey;
    font-weight: bold;
    border: none;
    text-decoration: none;
    background-color: #f1f1f1;
}

#indssn-btn_entrar {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 5px 75px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.indssn-final {
    line-height: 2;
}


/* CSS PARA LA VENTA DE LOS REGISTROS */

#body-rgsts {
    display: flex;
    background: linear-gradient(to right, #84E9CB 0%, #84E9CB 50%, #00B5B0 50%, #00B5B0 100%);
}

.boxes {
    width: 50% ;
    height: auto;
}

#rgsts-left {
    background-color:#84E9CB;
    text-align: center;
}

#formularioComprador , #formularioVendedor {
    margin-top: 30px;
}

.rgsts-lbl_vendedor , .rgsts-lbl_comprador {
    letter-spacing: 2px;
    line-height: 2;
    font-size: 18px;
}

.rgsts-inputs {
    width: 35%;
    border-radius: 7px;
    border: none;
    padding: 5px 20px;
    margin-bottom: 50px;
}

.rgsts-btn_validar {
    background-color: lightgreen;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    border: green;
}

#rgsts-right {
    background-color:#00B5B0;
    text-align: center;
}

#tipoUsuario {
    margin-top: 25px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 30px ;
    border: none;
    margin-bottom: 25px;
}

#tipoUsuario:hover {
    border: 3px solid green;
}

#imgRol {
    width:200px;
    height:200px;
}

#imgLogoPR {
    width:450px;
    height:450px;
}