/* CCS GENERAL */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgreen;
}

#body-main {
    text-align: center;
    line-height: 4;
}

.enlaces-reuse {
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    color: darkgreen;
    padding: 10px;
    border: 3px solid black;
}

.enlaces-reuse:hover, #indssn-btn_entrar:hover{
    color: purple;
}
